{% extends 'board/base.html' %}

{% block title %}
Article detail
{% endblock title %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>
        created: {{ article.created_at }}
        <hr>
        updated: {{ article.updated_at }}
    </p>
    <p>
        {{ article.content }}
    </p>
    <div>
        <a href="{% url 'board:edit_article' article.id %}">
            <button>Edit</button>
        </a>
    </div>
    <div>
        <form action="{% url 'board:delete_article' article.id %}" method='POST'>
            {% csrf_token %}
            <input type="submit" id="delButton" value="delete">
        </form>
    </div>
    <script>
        const delButton = document.querySelector('#delButton');
        function popUp() {
            return confirm('really?')
        }
        delButton.addEventLister('click', popUp);
    </script>

    {% include 'board/_comment.html' %}

{% endblock body %}